<div class="container">
  <div class="row" >
    <div class="page-header">
      <h1>Welcome! <small>Select the categories that matter to you:</small></h1>
    </div>
  </div>

  <a href="/run">Pick labels</a>

  <div class="row">
  <form action="/photos" name="photos">
    <input type="file" id="file_input" webkitdirectory="" directory="">
    <input type="submit">
  </form>
  </div>


  <% if @labels %>

  <form id="form" action="/categories" method="post">
    <div>
        <select name="categories[]" multiple="multiple" size="20">
          <% @labels.each do |label, count| %>
            <option value="<%= label %>"><%= label %> : <%= count %></option>
          <% end %>
        </select>
        <input type="submit" value="submit">
    </div>
  </form>

  <% end %>

</div>